@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.about {
    &__title {
        font-family: $body-font-family;
        font-weight: 500;
        font-size: 44px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        transition: ease-in-out .2s;

        &:hover {
            color: rgb(236, 195, 247);
        }

    }

    &__subtitle {
        margin: 30px;
        font-family: $body-font-family;
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        color: white;
        transition: ease-in-out .2s;

        &:hover {
            color: rgb(236, 195, 247);
        }
    }
}

.projects {
    &__title {
        text-align: center;
        font-weight: 500;
        margin: 12px 0 24px 0;
    }

    &__subtitle {
        text-align: center;
        font-weight: 500;
        padding: 0 25vw;
        font-size: 16px;
    }
}

.skills-section {
    &__title {
        font-family: $body-font-family;
        font-weight: 500;
        font-size: 24px;
    }

    &__subtitle {
        font-family: $body-font-family;
        font-weight: 500;
        font-size: 18px;
    }
}



h1,
h2,
p {
    font-family: $body-font-family;
}

// Overwriting Vuetify fonts:

.v-application {
    font-family: $body-font-family, sans-serif !important;

    .title {
        // To pin point specific classes of some components
        font-family: $body-font-family, sans-serif !important;
    }
}

// Overwriting Vuetify word-break property:

.v-card__text,
.v-card__title {
    word-break: normal;
    line-height: 1.2rem;
    /* maybe !important  */
}

.timeline-section {
    &__title {
        font-family: $body-font-family;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
    }
}

.timeline {
    &__title {
        font-weight: 500;
        font-size: 16px;
    }

    // font-family: $body-font-family;
    // color: $color-primary;

    // &__page-name {
    //     font-weight: 500;
    //     font-size: 24px;
    //     color: $color-timeline-line;
    // }

    // &__name {
    //     font-weight: 700;
    //     font-size: 30px;
    // }

    // &__profession {
    //     font-weight: 500;
    //     font-size: 24px;
    // }

    // &__section {
    //     font-weight: 700;
    //     font-size: 20px;
    // }

    // &__time {
    //     font-size: 16px;
    // }

    // &__title {
    //     font-weight: 500;
    //     font-size: 20px;

    // }

    // &__paragraph {}

}