.about {
    padding: 20px;
    min-height: 100vh;

    &__button {
        transform: translate(-50%, 150%);
        transition: ease-in-out 0.2s;

        &:hover {
            background-color: rgba(236, 195, 247, 0.493);
        }
    }

    &__image {
        margin: 5vh auto;
        border: 2px solid rgb(204, 204, 204);
        border-radius: 50%;
        // width: 18vw;
        // height: 18vw;
        width: 300px;
        height: 300px;
        background-image: url("~@/assets/img/andrii_chemerys_photo_como.jpg");
        background-size: 200%;
        background-position: 35% 30%;
        transition: ease-in-out .5s;

        &:hover {
            border: 2px solid rgba(236, 195, 247, 0.493);
            background-size: 205%;
            background-position: 35% 30%;

        }
    }
}

@media only screen and (max-width: $breakpoint-sm),
(max-height: $breakpoint-sm-height) {
    .about {
        &__image {
            width: 200px;
            height: 200px;
        }
    }
}

@media only screen and (max-height: $breakpoint-xs) {
    .about {
        &__image {
            // max-width: 200px;
            // max-height: 200px;
            width: 30vh;
            height: 30vh;
        }
    }
}