.footer {
    width: 100%;
    padding: 20px 0;

    &__signature,
    &__rights {
        line-height: 30px;
    }

    &__link {
        text-decoration: none;
    }

    &__icons-text {
        // color: white;
        // text-decoration: none;
    }

    &__divider {
        margin: 10px 0;
    }
}