.timeline {
    margin: 5vh 0;
    padding: 0 10vw;

    &__title {}

}

// Overwriting Vuetify default properties

.v-card {

    &__text {
        padding: 8px;
    }

    &__title {
        padding: 8px;
    }
}

.v-timeline-item {
    padding-bottom: 0;
}